[Desktop Entry]
Encoding=UTF-8
Name=Link to examples/fast_neural_style at master · pytorch/examples
Type=Link
URL=https://github.com/pytorch/examples/tree/master/fast_neural_style
Icon=text-html
Name[en_SG]=link to original git repo
